/* contact-section */
.contact-section {
  background-color: var(--bg-main);
  padding: 5px 5px;
}

.contact-header {
  background-color: var(--bg-dark);
  padding: 80px 20px;
  text-align: center;
  margin-bottom: 50px;
}

.contact-header h2 {
  color: var(--bg-header); /* light text */
}

.contact-header p {
  color: var(--text-muted);
}

.contact-container {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  justify-content: center;
  transform: scale(0.8);
}

.contact-form {
  flex: 1;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  background-color: var(--text-light);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.contact-form h3 {
  margin-bottom: 20px;
  color: var(--bg-dark);
}

.contact-form label {
  margin-bottom: 6px;
  font-size: 14px;
  color: var(--bg-dark);
}

.contact-form input,
.contact-form textarea,
.contact-form select {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
  border: 1px solid var(--border-light);
  font-size: 14px;
}

.contact-form select {
  cursor: pointer;
}

.contact-submit {
  background-color: var(--bg-dark);
  color: var(--text-light);
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.contact-submit:hover {
  opacity: 0.85;
}

.contact-info {
  flex: 1;
  min-width: 250px;
  background-color: var(--text-light);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.contact-info h3 {
  margin-bottom: 20px;
  color: var(--bg-dark);
}

.contact-info p {
  font-size: 14px;
  margin: 12px 0;
  color: var(--bg-dark);
}

.contact-info i {
  margin-right: 10px;
  color: var(--bg-dark);
}

.contact-info small {
  display: block;
  color: var(--text-muted);
  font-size: 12px;
}

/* Business Hours */
.business-hours {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid var(--border-light);
}

.business-hours h4 {
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--bg-dark);
}

.business-hours p {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 14px;
}

/* Info-section */

.info-section {
  background-color: var(--bg-dark);
  padding: 3px 200px;
  text-align: start;
  min-height: auto;
}

.info-section h2 {
  color: var(--bg-header);
  text-align: center;
}

.info-section h5 {
  color: var(--bg-header);
}

.info-policy {
  display: flex;
  padding-top: 3%;
}

.info-policy h5 {
  padding-left: 6px;
}

.info-policy p {
  text-align: start;
  padding-top: 6px;
  color: var(--bg-header);
  font-size: 12px;
  font-weight: 100;
  margin: 5px;
}

/* footer */
.contact-footer {
  background-color: var(--bg-dark);
  min-height: 15vh;
}

.contact-footer p {
  padding-top: 60px;
  text-align: center;
  color: var(--bg-header);
  font-size: 10px;
  font-weight: 200;
}
